/* Só aplica no MOBILE */
@media (max-width: 767px) {
  #app {
    display: flex;
    justify-content: center;
  }

  .img {
    display: none;
  }

  .container {
    width: 100%;
    max-width: 390px;
    padding: 43px 32px 170px;


  }
}

#app {

}
